:root {
    --black: #080202;
    --white: #eee;
    --background-color: #777;
    --yellow-primary: #F6FA70;
}
/* bagel-fat-one-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Bagel Fat One';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/bagel-fat-one-v1-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* dosis-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/dosis-v27-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* response font size trick */
html {
    font-size: clamp(0.75rem, 1.5vmax, 4rem);
    height: 100%;
    width: 100%; 
}
body {
    background-color: var(--background-color);
    font-family: 'Dosis', sans-serif;
}
.college-university {
    font-family: 'Bagel Fat One', cursive;
    color: var(--yellow-primary);
}
main.main-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 0.5rem;
}
.header {
    background-color: var(--black);
    color: var(--white);
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#hamburger {
    display: none;
}
#sidenav, .comics-container {
    height: 100%;
    width: 100%;
}
#sidenav {
    background-color: var(--yellow-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--black);
}

.new-weekly {
    text-transform: uppercase;
    padding: 1em;
}
#links-list, #links-list li {
    width: 100%;
}
#links-list li {
    padding: 0.25em;
    margin: 0.25em;
    border-bottom: 0.1em solid var(--background-color);
    text-align: center;
}
#links-list a {
    cursor: pointer;
    display: inline-block;
    width: 100%;
}
.logo-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.logo-icon-holder {
    width: clamp(5rem, 2vw, 8rem);
}
.logo-icon {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate()
}
.true-stories {
    color: var(--yellow-primary);
}
.comics-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--black);
}
.comic-card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
.comic-card .comic-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background-color: #eee;
    border-radius: 0.25rem 0.25rem 0 0;
}
.comic-frame {
    border: 0.5rem solid var(--black);
}
.comic {
    width: 100%;
}




@media screen and (max-width: 600px) {
    main.main-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.25rem;
    }

   #sidenav {
    position: absolute;
    top: 0;
    opacity: 0;
    height: 0;
    transition: ease-in-out 0.2s height;
   }
   #sidenav.active {
     height: 100vh;
     opacity: 1;
   }
   #sidenav .new-weekly, #sidenav #links-list {
    display: none;
   }
   #sidenav.active .new-weekly, #sidenav.active #links-list {
    display: block;
   }
   .new-weekly {
    text-align: center;
   }
   .comics-container {
     padding: 0;
     align-items: center;
   }
   .comic-card {
    width: 95vw;
 }
 #hamburger {
    display: block;
    z-index: 2;
    background-color: unset;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    z-index: 5;
    padding: 0.5rem;
 }
 #hamburger:before,
 #hamburger:after,
 #hamburger div {
    content: "";
    width: 1.5em;
    height: 0.2em;
    border-radius: 0.25em;
    margin: 0.15em;
    background-color: var(--white);
    transition: ease-in 0.2s all;
 }
#hamburger div.active {
   background-color: var(--black);
}
 #hamburger.active:before, 
 #hamburger.active:after {
    margin: 0;
    opacity: 0;
 }
}

